/* ----------------------Стилі для header--------------------------- */
.header {
    position: relative;

    border-bottom: 1px solid #ECECEC;    
}

.header .container {
    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }  
}

/* ----------------------------Лого--------------------------------- */
.site-logo {
    font-family: $fontLogo;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    @include tablet {
        margin-right: 88px;
    }

    @include desktop {
        margin-right: 93px;
    }
}

.logo {
    color: var(--accent-color);
    font-family: $fontLogo;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 16px;
}

.mobile-menu {
    @include tablet {
        display: none;
    }
}


/* -----------------------Навігація по сайту------------------------ */
.main-nav {    
    display: flex;
    align-items: center;    

    @media screen and (max-width:767px) {
        display: none;
    }
}

.site-nav {    
    display: none;
    
    @include tablet {
        display: flex;
        // margin-right: 96px;
    }
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    transition: color var(--transition);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    &:hover,
    &:focus,
    &.current {
        color: var(--accent-color);
    }    
}

.site-nav__current-link {
    position: relative;
}

.site-nav__link--current::after {
    content: "";
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}

/* --------------------------Контакти------------------------------- */
.contacts {
    display: none;

    @include tablet {
        display: block;
        margin-left: auto;        
    }

    @include desktop {
        display: flex;        
    }    
}

.contacts__item+.contacts__item {
    @include desktop {
        margin-left: 50px;
    }    
}

.contacts__link {
    transition: color var(--transition);    

    color: var(--prymary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @include desktop {        
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;

        font-size: 14px;
        line-height: 1.14;
    }
}

.contacts__icon {
    margin-right: 8px;
    fill: currentColor;

    @include desktop {
        margin-right: 10px;
    }
}

/* ------------------------Мобільне меню---------------------------- */
.menu-container {
    position: fixed;   

    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    padding-top: 48px;
    padding-bottom: 48px;
    
    z-index: 999;      

    background-color: var(--prymary-bgc);
    
    transform: translateX(100%);
    transition: transform var(--transition); 

    & .mob-container {
        height: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
        
    &.is-open {
        transform: translateX(0);
    }    
        
    @include tablet {    
        display: none;
    }
}

.button-menu {
    display: flex;

    margin: 0;
    padding: 0;    
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
        fill: var(--accent-color);
    }

    @include tablet {
        display: none;
    }
}

.button-menu.close {
    display: block;
    margin-left: auto;
    margin-right: 15px;    
}

.site-menu__item {    
    margin-left: 25px;

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.site-menu___link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    &:hover,
    &:focus,
    &.current {
        color: var(--accent-color);
    }
}

.contacts-list {
    margin-left: 25px;

    outline: 5px solid tea;
}

.contacts-tel {
    margin-bottom: 32px;
}

.contacts-tel__link {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-mail {
    margin-bottom: 54px;
}

.contacts-mail__link {
    color: var(--prymary-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;    
}

.soc-menu {
    display: flex;
    margin-left: 25px;
    
}

.soc-menu_item {    
    justify-content: start;

    &:not(:last-child){
        &::after {
            content: '';
            border: 1px solid rgba(33, 33, 33, 0.2);
            margin: 0 10px;
        }
    }

}

.soc-menu_link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color);

}