/* --------------------------Секція------------------------------- */
.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }    
}

.section-title {
    margin-bottom: 30px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    @include tablet {
        margin-top: 0;
        margin-bottom: 30px;

        font-size: 28px;
    }

    @include desktop {
        font-size: 36px;
        margin-bottom: 50px;
    }
    


}