body {
    color: var(--prymary-text-color);
    background-color: var(--prymary-bgc);
    font-family: $fontPrimary;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.no-scroll {
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}